.view-detail {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.input-element {
  font-size: 1rem;
  display: block;
  width: 100%;
  background-color: var(--sidebar-item-active-bg);
  color: var(--main-color);
  padding: 8px 12px;
  outline: none;
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px 0;
}
